<div class="modal fade" id="loginModalMobile" tabindex="-1" role="dialog" aria-labelledby="loginModalMobileLabel" aria-hidden="true">
    <div style="margin-top: 1em;" class="modal-dialog" role="document">
        <div style="padding: 1em 1em 0em 1em" class="modal-content">
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col col-lg-6">
                            <p style="font-family: 'Source Sans Pro SemiBold';color: #707070;font-size: 28px;margin-left: -0.4em" id="loginModalMobileLabel">Log in</p>
                        </div>
                        <div class="col col-lg-6">
                            <p data-toggle="modal" data-target="#modalRegisterMobile"  data-dismiss="modal" style="font-family: 'Source Sans Pro SemiBold';color: #707070;font-size: 18px;text-align: right;margin-right: 1em" id="loginModalMobileLabel2">Sign Up</p>
                        </div>
                    </div>
                </div>

                <form ng-submit='login()' onsubmit="myFunction()">
                    <div class="form-group" style="margin-right: 2em">
                        <input style="background-color: #EEEEEE;font-family: 'Source Sans Pro SemiBold';" ng-model='loginRequest.username'
                               class="form-control text-transform-none" placeholder="Email">
                    </div>
                    <div class="form-group" style="margin-right: 2em">
                        <input style="background-color: #EEEEEE;font-family: 'Source Sans Pro SemiBold';" type="password"
                               ng-model='loginRequest.password'
                               class="form-control" placeholder="Password">
                        <br>
                        <a style="display: none;color: #707070;font-family: 'Source Sans Pro SemiBold';font-size: 20px" class='forgot' ng-click='openForgotPasswordPopup()'>Forgot password?</a>
                    </div>
                    <div style="margin-left: -1em" class="form-group terms-of-use">
                        <div class="container">
                            <div class="row">
                                <div class="col-1">
                                    <input class='checkbox'
                                           id="termsAgreed"
                                           type="checkbox"
                                           ng-model='loginRequest.termsAgreed'>
                                </div>
                                <div class="col-11">
                                    <label style="font-size: 16px" for="termsAgreed">
                                        By using MakeMyData software, you agree to the
                                        <a style="color: #E87E04;font-family: 'Source Sans Pro';font-size: 16px" class='terms-link' target="_blank" href="/#/terms">MakeMyData General Terms and Conditions</a>
                                    </label>
                                </div>
                            </div>
                        </div>


                    </div>
                    <br>
                    <div class="form-group">
                        <div class="text-right">
                            <button style="font-family: 'Source Sans Pro SemiBold'; font-size: 18px" type="submit"
                                    ng-disabled='!loginRequest.username || !loginRequest.password || !loginRequest.termsAgreed' class="login-button">Log in</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>